In [71]:
import pandas as pd
script = pd.read_csv('Game_of_Thrones_Script_count_senti.csv')

In [72]:
json_script = script.copy()

In [73]:
json_script.drop(['Tokenize Words', 'Tokenize Words Alphanumeric Only',
       'Sentence Word Count', 'Row', 'Family Name', 'Sentiment Scores',
       'Polarity', 'Subjectivity'], axis=1, inplace=True)

In [74]:
json_script.to_json("GoTscriptforWD.json")

In [75]:
top_20 = script.groupby(['Name', 'Family Name'])[['Sentence Word Count']].sum().reset_index().sort_values(by=['Sentence Word Count']
                                                                                         , ascending=[0])

In [76]:
script = script[script["Name"].isin(top_20["Name"][:20])]

/var/folders/ll/tlyhkxyx7qj42_ffkhwd31z00000gn/T/ipykernel_19591/4014958426.py:1: FutureWarning: The behavior of `series[i:j]` with an integer-dtype index is deprecated. In a future version, this will be treated as *label-based* indexing, consistent with e.g. `series[i]` lookups. To retain the old behavior, use `series.iloc[i:j]`. To get the future behavior, use `series.loc[i:j]`.
  script = script[script["Name"].isin(top_20["Name"][:20])]

In [77]:
script.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 12244 entries, 15 to 23908
Data columns (total 14 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Release Date                      12244 non-null  object
 1   Season                            12244 non-null  object
 2   Episode                           12244 non-null  object
 3   Episode Title                     12244 non-null  object
 4   Name                              12244 non-null  object
 5   Sentence                          12244 non-null  object
 6   Tokenize Words                    12244 non-null  object
 7   Tokenize Words Alphanumeric Only  12244 non-null  object
 8   Sentence Word Count               12244 non-null  int64
 9   Row                               12244 non-null  int64
 10  Family Name                       12244 non-null  object
 11  Sentiment Scores                  12244 non-null  object
 12  Polarity                          12244 non-null  float64
 13  Subjectivity                      12244 non-null  float64
dtypes: float64(2), int64(2), object(10)
memory usage: 1.4+ MB

In [58]:
script.columns

Index(['Release Date', 'Season', 'Episode', 'Episode Title', 'Name',
       'Sentence', 'Tokenize Words', 'Tokenize Words Alphanumeric Only',
       'Sentence Word Count', 'Row', 'Family Name', 'Sentiment Scores',
       'Polarity', 'Subjectivity'],
      dtype='object')

In [82]:
script.drop(['Release Date', 'Season', 'Episode Title', 'Tokenize Words', 'Tokenize Words Alphanumeric Only',
       'Sentence Word Count', 'Row', 'Family Name', 'Sentiment Scores',
       'Polarity', 'Subjectivity'], axis=1, inplace=True)

In [60]:
script.head()

      Episode         Name                     Sentence
15  Episode 1     jon snow    Go on. Father's watching.
16  Episode 1     jon snow             And your mother.
18  Episode 1  sansa stark                   Thank you.
21  Episode 1     jon snow  Don't think too much, Bran.
22  Episode 1   robb stark          Relax your bow arm.

In [61]:
script.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 12244 entries, 15 to 23908
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Episode   12244 non-null  object
 1   Name      12244 non-null  object
 2   Sentence  12244 non-null  object
dtypes: object(3)
memory usage: 382.6+ KB

In [62]:
script.to_csv('GoT-autoAI.csv', encoding='utf-8', index=False)

In [32]:
script = pd.read_csv('GoT-autoAI.csv')

In [63]:
script.head()

      Episode         Name                     Sentence
15  Episode 1     jon snow    Go on. Father's watching.
16  Episode 1     jon snow             And your mother.
18  Episode 1  sansa stark                   Thank you.
21  Episode 1     jon snow  Don't think too much, Bran.
22  Episode 1   robb stark          Relax your bow arm.

In [64]:
script_less_eight = script[script["Episode"]!="Episode 8"]

In [65]:
script_less_eight.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11290 entries, 15 to 23908
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Episode   11290 non-null  object
 1   Name      11290 non-null  object
 2   Sentence  11290 non-null  object
dtypes: object(3)
memory usage: 352.8+ KB

In [66]:
script_less_eight.drop(['Episode'], axis=1, inplace=True)

/var/folders/ll/tlyhkxyx7qj42_ffkhwd31z00000gn/T/ipykernel_19591/1531792361.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  script_less_eight.drop(['Episode'], axis=1, inplace=True)

In [67]:
script_less_eight.to_csv('GoT-AWScomprehend.csv', encoding='utf-8', index=False)

In [83]:
script_only_eight = script[script["Episode"]=="Episode 8"]

In [84]:
script_only_eight.head()

,Episode,Name,Sentence
2349,Episode 8,sansa stark,She didn't forget. She's with her dancing master.
2351,Episode 8,sansa stark,What is it? What's happening?
2354,Episode 8,arya stark,"You said right, but you went left."
2356,Episode 8,arya stark,Only 'cause you lied.
2358,Episode 8,arya stark,"I was so. I watched, but you..."

In [85]:
script_only_eight.drop(['Episode'], axis=1, inplace=True)

/var/folders/ll/tlyhkxyx7qj42_ffkhwd31z00000gn/T/ipykernel_19591/532591304.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  script_only_eight.drop(['Episode'], axis=1, inplace=True)

In [86]:
script_only_eight.head()

             Name                                           Sentence
2349  sansa stark  She didn't forget. She's with her dancing master.
2351  sansa stark                      What is it? What's happening?
2354   arya stark                 You said right, but you went left.
2356   arya stark                              Only 'cause you lied.
2358   arya stark                    I was so. I watched, but you...

In [87]:
script_only_eight.drop(['Name'], axis=1, inplace=True)

/var/folders/ll/tlyhkxyx7qj42_ffkhwd31z00000gn/T/ipykernel_19591/997126856.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  script_only_eight.drop(['Name'], axis=1, inplace=True)

In [88]:
script_only_eight.head()

                                               Sentence
2349  She didn't forget. She's with her dancing master.
2351                      What is it? What's happening?
2354                 You said right, but you went left.
2356                              Only 'cause you lied.
2358                    I was so. I watched, but you...

In [90]:
script_only_eight.to_csv('GoT-AWScomprehend-test-season8.csv', encoding='utf-8', index=False)

In [92]:
!pip install boto3

Collecting boto3
  Downloading boto3-1.26.127-py3-none-any.whl (135 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 135.6/135.6 kB 1.8 MB/s eta 0:00:00 MB/s eta 0:00:01
Collecting botocore<1.30.0,>=1.29.127 (from boto3)
  Downloading botocore-1.29.127-py3-none-any.whl (10.7 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 10.7/10.7 MB 9.2 MB/s eta 0:00:00m eta 0:00:01[36m0:00:01
Collecting jmespath<2.0.0,>=0.7.1 (from boto3)
  Downloading jmespath-1.0.1-py3-none-any.whl (20 kB)
Collecting s3transfer<0.7.0,>=0.6.0 (from boto3)
  Downloading s3transfer-0.6.1-py3-none-any.whl (79 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 79.8/79.8 kB 2.7 MB/s eta 0:00:00
Requirement already satisfied: python-dateutil<3.0.0,>=2.1 in /usr/local/lib/python3.11/site-packages (from botocore<1.30.0,>=1.29.127->boto3) (2.8.2)
Requirement already satisfied: urllib3<1.27,>=1.25.4 in /usr/local/lib/python3.11/site-packages (from botocore<1.30.0,>=1.29.127->boto3) (1.26.15)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.11/site-packages (from python-dateutil<3.0.0,>=2.1->botocore<1.30.0,>=1.29.127->boto3) (1.16.0)
Installing collected packages: jmespath, botocore, s3transfer, boto3
Successfully installed boto3-1.26.127 botocore-1.29.127 jmespath-1.0.1 s3transfer-0.6.1

In [91]:
import boto3
 
 # Instantiate Boto3 SDK:
client = boto3.client('comprehend', region_name='region')
 
start_response = client.start_document_classification_job(
     InputDataConfig={
         'S3Uri': 's3://srikad-us-west-2-input/docclass/file name',
         'InputFormat': 'ONE_DOC_PER_LINE'
     },
     OutputDataConfig={
         'S3Uri': 's3://S3Bucket/output'
     },
     DataAccessRoleArn='arn:aws:iam::account number:role/resource name',
     DocumentClassifierArn=
     'arn:aws:comprehend:region:account number:document-classifier/SampleCodeClassifier1'
 )
 
print("Start response: %s\n", start_response)
 
 # Check the status of the job
describe_response = client.describe_document_classification_job(JobId=start_response['JobId'])
print("Describe response: %s\n", describe_response)
 
 # List all classification jobs in account
list_response = client.list_document_classification_jobs()
print("List response: %s\n", list_response)

ModuleNotFoundError: No module named 'boto3'