In [35]:
import pandas as pd
script = pd.read_csv('Game_of_Thrones_Script_count_senti.csv')

In [36]:
json_script = script.copy()

In [39]:
json_script.drop(['Tokenize Words', 'Tokenize Words Alphanumeric Only',
       'Sentence Word Count', 'Row', 'Family Name', 'Sentiment Scores',
       'Polarity', 'Subjectivity'], axis=1, inplace=True)

In [40]:
json_script.to_json("GoTscriptforWD.json")

In [25]:
top_20 = script.groupby(['Name', 'Family Name'])[['Sentence Word Count']].sum().reset_index().sort_values(by=['Sentence Word Count']
                                                                                         , ascending=[0])

In [26]:
script = script[script["Name"].isin(top_20["Name"][:20])]

In [27]:
script.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 12244 entries, 15 to 23908
Data columns (total 14 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Release Date                      12244 non-null  object
 1   Season                            12244 non-null  object
 2   Episode                           12244 non-null  object
 3   Episode Title                     12244 non-null  object
 4   Name                              12244 non-null  object
 5   Sentence                          12244 non-null  object
 6   Tokenize Words                    12244 non-null  object
 7   Tokenize Words Alphanumeric Only  12244 non-null  object
 8   Sentence Word Count               12244 non-null  int64
 9   Row                               12244 non-null  int64
 10  Family Name                       12244 non-null  object
 11  Sentiment Scores                  12244 non-null  object
 12  Polarity                          12244 non-null  float64
 13  Subjectivity                      12244 non-null  float64
dtypes: float64(2), int64(2), object(10)
memory usage: 1.4+ MB

In [28]:
script.columns

Index(['Release Date', 'Season', 'Episode', 'Episode Title', 'Name',
       'Sentence', 'Tokenize Words', 'Tokenize Words Alphanumeric Only',
       'Sentence Word Count', 'Row', 'Family Name', 'Sentiment Scores',
       'Polarity', 'Subjectivity'],
      dtype='object')

In [29]:
script.drop(['Release Date', 'Season', 'Episode Title', 'Tokenize Words', 'Tokenize Words Alphanumeric Only',
       'Sentence Word Count', 'Row', 'Family Name', 'Sentiment Scores',
       'Polarity', 'Subjectivity'], axis=1, inplace=True)

In [30]:
script.head()

      Episode         Name                     Sentence
15  Episode 1     jon snow    Go on. Father's watching.
16  Episode 1     jon snow             And your mother.
18  Episode 1  sansa stark                   Thank you.
21  Episode 1     jon snow  Don't think too much, Bran.
22  Episode 1   robb stark          Relax your bow arm.

In [31]:
script.to_csv('GoT-autoAI.csv', encoding='utf-8', index=False)

In [32]:
script = pd.read_csv('GoT-autoAI.csv')

In [33]:
script.head()

     Episode         Name                     Sentence
0  Episode 1     jon snow    Go on. Father's watching.
1  Episode 1     jon snow             And your mother.
2  Episode 1  sansa stark                   Thank you.
3  Episode 1     jon snow  Don't think too much, Bran.
4  Episode 1   robb stark          Relax your bow arm.